@use "../../styles/partials/call-to-actions" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/form-fields" as *;
@use "../../styles/partials/layout-grid" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/resets" as *;


.info {
    width: 100%;
    padding:  pxToRem(16);
    background-color: $black;
    @include tablet-breakpoint {
    }
  
    @include desktop-breakpoint {
    }
  
    &__heading {
      @include mobile-h2;
      color: $white;
      margin:0;
      padding-bottom:16px;
  
      @include tablet-breakpoint {
        @include tablet-h2;
        color: $white;
      }
  
      @include desktop-breakpoint {
      }
    }
  
    &__wrapper {
  
      @include tablet-breakpoint {
      }
  
      @include desktop-breakpoint {
      }
    }
    
    &__row{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

    }

    &__title{
       @include bold-style( pxToRem(14), pxToRem(22) ,$white);

    }
    &__content{
        width:40%;
        @include mobile-p2;
        color:$white;;

    }
}