@use "../../styles/partials/call-to-actions" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/form-fields" as *;
@use "../../styles/partials/layout-grid" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/resets" as *;

.info {
  width: 100%;
  padding: pxToRem(16);
  background-color: $black;

  &__heading {
    @include bold-style(pxToRem(20), pxToRem(28), $white);
    margin: 0;
    padding-bottom: pxToRem(16);

    @include tablet-breakpoint {
      @include bold-style(pxToRem(24), pxToRem(32), $white);
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    @include bold-style(pxToRem(14), pxToRem(20), $white);

    @include tablet-breakpoint {
      @include bold-style(pxToRem(15), pxToRem(22), $white);
    }
  }
  &__content {
    width: 40%;
    @include regular-style(pxToRem(14), pxToRem(20), $white);

    @include tablet-breakpoint {
      @include regular-style(pxToRem(14), pxToRem(22), $white);
    }
  }
}
