@use "../../../styles/partials/call-to-actions" as *;
@use "../../../styles/partials/colors" as *;
@use "../../../styles/partials/form-fields" as *;
@use "../../../styles/partials/layout-grid" as *;
@use "../../../styles/partials/type-kit" as *;
@use "../../../styles/partials/resets" as *;

.register {
  &__section {
    display: flex;
    flex-direction: column;
    padding-bottom: pxToRem(4);

    @include tablet-breakpoint {
      padding-bottom: pxToRem(8);
    }
  }

  &__close {
    color: $black;
    border-color: $light-grey;
  }

  &__heading {
    @include bold-style(pxToRem(24), pxToRem(32), $dark-blue);

    @include tablet-breakpoint {
      @include bold-style(pxToRem(30), pxToRem(32), $dark-blue);
    }
  }

  &__label {
    @include regular-style(pxToRem(12), pxToRem(20));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(14), pxToRem(22));
    }
  }

  &__field {
    @include regular-style(pxToRem(11), pxToRem(18));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(13), pxToRem(20));
    }
  }

  &__error {
    color: $red;
    font-size: pxToRem(11);
    line-height: pxToRem(18);

    @include tablet-breakpoint {
      font-size: pxToRem(13);
      line-height: pxToRem(20);
    }
  }
}
