@use '../../styles/partials/call-to-actions' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/form-fields' as *;
@use '../../styles/partials/layout-grid' as *;
@use '../../styles/partials/type-kit' as *;
@use '../../styles/partials/resets' as *;


.details {
    width: 100%;
    padding: 0 pxToRem(16);
  
    @include tablet-breakpoint {
      padding: 0 pxToRem(32);
    }
  
    @include desktop-breakpoint {
      margin: 0 auto;
    }
  
    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: left;
  
      @include tablet-breakpoint {
      }
  
      @include desktop-breakpoint {
        margin: 0 auto;
        max-width: $max-content-width;
      }
    }

    &__main{
        text-align: center;
        padding:16px 24px;
        @include tablet-breakpoint {
         display:flex;
        }
      
    }
    &__year{
        @include regular-style( pxToRem(24), pxToRem(22));
        padding-bottom:8px;
        margin:0;
        @include tablet-breakpoint {
          padding-right:8px;
         }
    }

    &__row{
        margin:0;
        display: flex;
        justify-content: space-evenly;
        padding-bottom:8px;
       
    }
    &__make{
        margin:0;
        @include regular-style( pxToRem(32), pxToRem(22) ,$light-blue);
        @include tablet-breakpoint {
          padding-right:8px;
         }
    }

    &__model{
        margin:0;
        @include bold-style( pxToRem(32), pxToRem(22) ,$light-blue);
        @include tablet-breakpoint {
       padding-right:8px;
         } 
    }

    &__trim{
        @include regular-style( pxToRem(24), pxToRem(22));
        padding-bottom:8px;
        margin:0;
    }

    &__vin{
      text-align: center;
      padding:16px 24px;
        margin: 0;
        @include mobile-p2;
        @include tablet-breakpoint {
         text-align:left;
         padding:0 24px;
            } 
    }

    &__topSection{
      display:flex;
      flex-direction: column;

      @include tablet-breakpoint {
          flex-direction: row;
        }
  }

  &__imageWrapper{
    width:100%;
    @include tablet-breakpoint {
      // width:60%;
    }

  }

    &__image{
      width: 100%;
    //   width: 288px;
    //   height: 10rem;
    //   border-radius: 5%;
      object-fit: cover;
      @include tablet-breakpoint {
      
      }
  
      @include desktop-breakpoint {
        // margin: 0 auto;
        // max-width: $max-content-width;
      }
    }
    
  &__pricingWrapper{
    width:100%;
    @include tablet-breakpoint {
    // width:50%;
    }

  }

    &__title{
        @include mobile-h2;
        color: $light-blue;
        margin:0;
        padding-top:16px;
    }
    
    &__price{
        margin: 0;
        @include bold-style( pxToRem(16), pxToRem(20));
    }

    &__section{
        display:flex;
        flex-direction: column;

        @include tablet-breakpoint {
            flex-direction: row;
          }
    }

}
  