@use "../../styles/partials/call-to-actions" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/form-fields" as *;
@use "../../styles/partials/layout-grid" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/resets" as *;

.details {
  width: 100%;
  padding: 0 pxToRem(16);

  @include tablet-breakpoint {
    padding: 0 pxToRem(32);
  }

  @include desktop-breakpoint {
    margin: 0 auto;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;

    @include desktop-breakpoint {
      margin: 0 auto;
      max-width: $max-content-width;
    }
  }

  &__arrowWrapper {
    display: flex;
    padding: pxToRem(16) 0;
    justify-content: center;
    align-items: center;

    @include tablet-breakpoint {
      padding-left: pxToRem(24);
      justify-content: flex-start;
    }
  }

  &__arrow {
    width: pxToRem(30);
    height: pxToRem(30);
    color: $dark-blue;
    margin: 0;
  }

  &__arrowContent {
    margin: 0;
    padding: 0 pxToRem(16);
    @include regular-style(pxToRem(14), pxToRem(20));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(14), pxToRem(22));
    }
  }

  &__main {
    text-align: center;
    padding: pxToRem(16) pxToRem(24);

    @include tablet-breakpoint {
      display: flex;
    }
  }

  &__year {
    @include regular-style(pxToRem(24), pxToRem(22));
    padding-bottom: pxToRem(8);
    margin: 0;

    @include tablet-breakpoint {
      padding-right: pxToRem(8);
    }
  }

  &__row {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: pxToRem(8);
  }

  &__make {
    margin: 0;
    @include regular-style(pxToRem(32), pxToRem(22), $light-blue);

    @include tablet-breakpoint {
      padding-right: pxToRem(8);
    }
  }

  &__model {
    margin: 0;
    @include bold-style(pxToRem(32), pxToRem(22), $light-blue);

    @include tablet-breakpoint {
      padding-right: pxToRem(8);
    }
  }

  &__trim {
    @include regular-style(pxToRem(24), pxToRem(22));
    padding-bottom: pxToRem(8);
    margin: 0;
  }

  &__vin {
    text-align: center;
    padding: pxToRem(16) pxToRem(24);
    margin: 0;
    @include regular-style(pxToRem(14), pxToRem(20));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(14), pxToRem(22));
      text-align: left;
      padding: 0 pxToRem(24);
    }

    &--highlight {
      font-weight: 600;
    }
  }

  &__topSection {
    display: flex;
    flex-direction: column;

    @include tablet-breakpoint {
      flex-direction: row;
    }
  }

  &__imageWrapper {
    width: 100%;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__pricingWrapper {
    width: 100%;
  }

  &__title {
    @include bold-style(pxToRem(20), pxToRem(28), $light-blue);

    margin: 0;
    padding-top: pxToRem(16);
    @include tablet-breakpoint {
      @include bold-style(pxToRem(24), pxToRem(32), $light-blue);
    }
  }

  &__price {
    margin: 0;
    @include bold-style(pxToRem(15), pxToRem(22));
  }

  &__section {
    display: flex;
    flex-direction: column;

    @include tablet-breakpoint {
      flex-direction: row;
    }
  }
}
