/* primary colors */

$black: #000000;
$white: #FFFFFF;
$light-blue: #223bc9;
$dark-blue: #1e2f97;
$navy-blue:#067fd0;

  
/* secondary colors */

$dark-grey: #e5e4e2;
$base-color: #bdc5d5;


/* background colors */


$light-grey: #dcdcdc;



/* supporting colors */

$red: #C94515;
$green:#44D7A8;
$darkgreen:#309676

