/* screen sizes */

/* mobile screen sizes are defined at 320px,
but are applied to screen sizes 767px and below */

$mobile-width: 320px;

/* tablet screen sizes are defined at 768px,
but are applied to screen sizes from 768px to 1279px */

$tablet-width: 768px;

/* desktop screen sizes are defined at 1280px,
but are applied to screen sizes 1280px and above */

$desktop-width: 1280px;

/* breakpoints */

@mixin tablet-breakpoint {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop-breakpoint {
    @media screen and (min-width: $desktop-width) {
        @content;
    }
}

/* convert px to rem */

@function pxToRem($px) {
    @return $px / 16 + rem;
}
