@use "../../styles/partials/call-to-actions" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/form-fields" as *;
@use "../../styles/partials/layout-grid" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/resets" as *;

.stockDetails {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 pxToRem(16);

  @include tablet-breakpoint {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    padding: 0 pxToRem(32);
  }
  @include desktop-breakpoint {
    margin: 0 auto;
    max-width: $max-content-width;
  }

  &__heading {
    padding: pxToRem(16) 0;
    margin: 0;
    @include bold-style(pxToRem(24), pxToRem(32));

    @include tablet-breakpoint {
      @include bold-style(pxToRem(32), pxToRem(40));
      align-items: left;
    }
  }

  &__count {
    margin: 0;
    @include regular-style(pxToRem(24), pxToRem(32), $dark-blue);

    @include tablet-breakpoint {
      @include regular-style(pxToRem(32), pxToRem(40), $dark-blue);
    }
  }

  &__imageWrapper {
    padding-top: pxToRem(16);
    @include tablet-breakpoint {
      padding-top: pxToRem(32);
    }
  }

  &__image {
    color: $dark-blue;
    width: pxToRem(30);
    height: pxToRem(30);
    @include tablet-breakpoint {
      width: pxToRem(40);
      height: pxToRem(40);
    }
  }
}

.vehicleCard {
  width: 100%;
  padding: pxToRem(16);
  display: flex;
  flex-direction: column;

  @include tablet-breakpoint {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @include desktop-breakpoint {
    margin: 0 auto;
    max-width: $max-content-width;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rgba(4, 11, 39, 0.1);
    border-radius: pxToRem(3);
    text-align: left;
    background-color: $white;
    margin-bottom: pxToRem(16);
    padding: pxToRem(16);

    @include tablet-breakpoint {
      width: pxToRem(200);
      flex: 0 0 45%;
      margin: pxToRem(16);
    }

    @include desktop-breakpoint {
      flex: 0 0 30%;
      margin: pxToRem(16) auto;
      max-width: $max-content-width;
    }
  }

  &__image {
    width: 100%;
    height: pxToRem(150);
    object-fit: cover;

    @include tablet-breakpoint {
      height: pxToRem(200);
    }

    @include desktop-breakpoint {
      height: pxToRem(150);
    }
  }

  &__main {
    padding-top: pxToRem(16);

    @include tablet-breakpoint {
      padding-top: pxToRem(32);
    }
  }

  &__row {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    padding-bottom: pxToRem(4);
  }

  &__year {
    @include regular-style(pxToRem(24), pxToRem(22));
    padding-right: pxToRem(8);
    margin: 0;
    
    @include tablet-breakpoint {
      @include regular-style(pxToRem(24), pxToRem(32));
    }
  }

  &__make {
    margin: 0;
    @include regular-style(pxToRem(24), pxToRem(22));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(24), pxToRem(32));
    }
  }

  &__model {
    margin: 0;
    padding-right: pxToRem(8);
    @include bold-style(pxToRem(24), pxToRem(22), $light-blue);

    @include tablet-breakpoint {
      @include bold-style(pxToRem(24), pxToRem(32), $light-blue);
    }
  }

  &__trim {
    @include regular-style(pxToRem(24), pxToRem(22), $light-blue);
    padding-bottom: pxToRem(8);
    margin: 0;

    @include tablet-breakpoint {
      @include regular-style(pxToRem(24), pxToRem(32), $light-blue);
    }
  }

  &__title {
    @include mobile-h3;
    margin: 0;

    @include tablet-breakpoint {
      @include tablet-h3;
    }
  }

  &__price {
    margin: 0;
    @include mobile-h3;

    @include tablet-breakpoint {
      @include tablet-h3;
    }
  }

  &__vin {
    margin: 0;
    @include mobile-p2;

    @include tablet-breakpoint {
      @include tablet-p2;
    }

    &--highlight {
      font-weight: 600;
    }
  }

  &__name {
    margin: 0;
    @include mobile-p2;
    padding-bottom: pxToRem(16);

    @include tablet-breakpoint {
      @include tablet-p2;
    }
  }

  &__view {
    width: 100%;
    background-color: $black;
  }

  &__btnWrapper {
    padding-top: pxToRem(16);
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    color: $dark-blue;
    width: pxToRem(30);
    height: pxToRem(30);

    @include tablet-breakpoint {
      width: pxToRem(35);
      height: pxToRem(35);
    }
  }
}
