@use "../../../styles/partials/call-to-actions" as *;
@use "../../../styles/partials/colors" as *;
@use "../../../styles/partials/form-fields" as *;
@use "../../../styles/partials/layout-grid" as *;
@use "../../../styles/partials/type-kit" as *;
@use "../../../styles/partials/resets" as *;


.calculate {
  
  &__close {
    color: $black;
    border-color: $light-grey;
  }

  &__heading {
    @include bold-style(pxToRem(24), pxToRem(32), $dark-blue);

    @include tablet-breakpoint {
      @include bold-style(pxToRem(32), pxToRem(40), $dark-blue);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }
  &__section {
    display: flex;
    flex-direction: column;
    padding-bottom: pxToRem(4);
    
    @include tablet-breakpoint {
      padding-bottom: pxToRem(8);
    }
  }

  // &__section{
  //    padding-bottom:16px;
  // }

  &__label {
    @include regular-style(pxToRem(12), pxToRem(20));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(14), pxToRem(22));
    }
  }


  &__field {
    @include regular-style(pxToRem(11), pxToRem(18));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(13), pxToRem(20));
    }
  }
  &__row{
      display:flex;
     
  }


  &__radioBtn{
    @include mobile-p2;
    padding-right:16px;

    @include tablet-breakpoint {
      @include tablet-p2;
    }
}

&__result{
    @include mobile-p2;
  
    @include tablet-breakpoint {
      @include tablet-p2;
    } 
}
}
