@use "../../styles/partials/call-to-actions" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/form-fields" as *;
@use "../../styles/partials/layout-grid" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/resets" as *;

.dealer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px 0;

  @include tablet-breakpoint {
    padding: 32px 0;
  }

  &__info {
    padding: 0 36px  16px;
    @include tablet-breakpoint {
        padding-bottom: 32px;
      }
  }

  &__name {
    margin: 0;
    @include regular-style(pxToRem(24), pxToRem(24), $light-blue);

    @include tablet-breakpoint {
        @include regular-style(pxToRem(32), pxToRem(32), $light-blue);
     
      }
  } 

  &__address {
    margin: 0;
    padding-bottom: 16px;
    @include mobile-p2;
    color: $light-blue;

    @include tablet-breakpoint {
        @include tablet-p2;
        color: $light-blue;
      }
  }
  &__contact {
    margin: 0;
    @include mobile-p2;

    @include tablet-breakpoint {
        @include tablet-p2;
      }
  
  }
}
