@use "../../styles/partials/call-to-actions" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/form-fields" as *;
@use "../../styles/partials/layout-grid" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/resets" as *;

.login {
  width: 100%;
  height: 100%;
  padding: pxToRem(16);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet-breakpoint {
    padding: pxToRem(32);
    justify-content: space-between;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet-breakpoint {
      flex-direction: row;
      align-items: center;
    }

    @include desktop-breakpoint {
      margin: 0 auto;
      max-width: $max-content-width;
    }
  }

  &__leftContainerr {
    width: 100%;
    align-items: center;

    @include tablet-breakpoint {
      width: 50%;
    }

    @include desktop-breakpoint {
      width: 75%;
    }
  }

  &__image {
    width: 200px;
    height: 100px;

    @include tablet-breakpoint {
      width: 250px;
      height: 150px;
    }
  }

  &__heading {
    margin: 0;
    padding: pxToRem(16) 0;
    
    @include bold-style(pxToRem(24), pxToRem(32), $dark-blue);

    @include tablet-breakpoint {
      width:70%;
      margin:0 auto;
      @include bold-style(pxToRem(32), pxToRem(40), $dark-blue);
    }

    &--light {
      font-weight: 400;
    }
  }

  &__rightContainer {
    width: 100%;
    padding: pxToRem(16);
    text-align: left;
    box-shadow: 0px 2px 5px rgba(4, 11, 39, 0.1);
    border-radius: pxToRem(3);

    @include tablet-breakpoint {
      width: 50%;
    }

    @include desktop-breakpoint {
      width: 35%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
  &__section {
    display: flex;
    flex-direction: column;
    padding-bottom: pxToRem(16);
  }

  &__label {
    @include regular-style(pxToRem(12), pxToRem(20));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(14), pxToRem(22));
    }
  }

  &__field {
    @include regular-style(pxToRem(11), pxToRem(18));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(13), pxToRem(20));
    }
  }

  &__error {
    color: $red;
    font-size: pxToRem(11);
    line-height: pxToRem(18);

    @include tablet-breakpoint {
      font-size: pxToRem(13);
      line-height: pxToRem(20);
    }
  }

  &__btnWrapper {
    padding-top: pxToRem(16);
  }

  &__btn {
    width: 100%;
    background-color: $green;
    border: none;
    &:hover {
      background-color: $darkgreen;
    }
  }
}
