@use "../../styles/partials/call-to-actions" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/form-fields" as *;
@use "../../styles/partials/layout-grid" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/resets" as *;

.login {
  width: 100%;
  height:100%;
  padding: pxToRem(16);
  // // background-color:  #fafafa;

  @include tablet-breakpoint {
    padding:pxToRem(32);
  }

  @include desktop-breakpoint {
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet-breakpoint {
      flex-direction: row;
      align-items: center;
    }

    @include desktop-breakpoint {
      margin: 0 auto;
      max-width: $max-content-width;
    }
  }

  &__leftContainerr {
  width: 100%;
   align-items: center;
    
  @include tablet-breakpoint {
    width: 50%;
    // align-items: left;
  }

  @include desktop-breakpoint {
    width: 75%;
  }
  }

  &__image {
    width: 200px;
    height: 100px;

    @include tablet-breakpoint {
      width: 250px;
      height: 150px;

    }

    @include desktop-breakpoint {
    }
  }

  &__heading {
   margin:0;
   padding:16px 0;
   @include bold-style(pxToRem(24), pxToRem(32), $dark-blue);

    @include tablet-breakpoint {
     padding:0 32px;
      @include bold-style(pxToRem(32), pxToRem(40), $dark-blue);
      width:70%;
    }

    &--light{
      // width:100%;
      font-weight: 400;
    }
  }

  &__rightContainer {
    width: 100%;
    padding:16px;
    text-align: left;
    box-shadow: 0px 2px 5px rgba(4, 11, 39, 0.1);
    border-radius: pxToRem(3);

    @include tablet-breakpoint {
      width:50%;
    }

    @include desktop-breakpoint {
      width: 35%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
  &__section {
    display: flex;
    flex-direction: column;
    padding-bottom: pxToRem(16);
    
    @include tablet-breakpoint {
      // padding-bottom: pxToRem(32);
    }
  }


  &__label {
    @include regular-style(pxToRem(12), pxToRem(20));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(14), pxToRem(22));
    }
  }

  &__field {
    @include regular-style(pxToRem(11), pxToRem(18));

    @include tablet-breakpoint {
      @include regular-style(pxToRem(13), pxToRem(20));
    }
  }

  &__error {
    color: $red;
    font-size: pxToRem(11);
    line-height: pxToRem(18);

    @include tablet-breakpoint {
      font-size: pxToRem(13);
      line-height: pxToRem(20);
    }
  }

  &__btnWrapper {
     padding-top:16px;
  }

  &__btn {
    width: 100%;
    background-color:$green;
    border:none;
    &:hover{
      background-color:$darkgreen;
    }
  }
}
