@use "../../styles/partials/call-to-actions" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/form-fields" as *;
@use "../../styles/partials/layout-grid" as *;
@use "../../styles/partials/type-kit" as *;
@use "../../styles/partials/resets" as *;

.login {
  width: 100%;
  padding: pxToRem(16);
//   background-color: $black;
//   display: flex;
//   flex-direction: column;

  @include tablet-breakpoint {
    // flex-direction: row;
  }

  @include desktop-breakpoint {
 
  }

  &__wrapper {
    width: 100%;
    display:flex;
    flex-direction: column;

    @include tablet-breakpoint {
        flex-direction:row;
    
    }

    @include desktop-breakpoint {
      margin: 0 auto;
      max-width: $max-content-width;
    }
  }
  &__leftContainerr {
    width:50%;
  }
  &__heading {
      width:60%;
  }
  &__rightContainer {
      width:50%;
  }

  &__form{
      display:flex;
      flex-direction: column;
  }
}
